@charset "UTF-8";
@font-face {
     font-family: idroid;
     src: url("idroid.otf") format(opentype);
}

body{
     margin: 0px;
     background-color: rgb(230, 230, 173);
     font-family: Helvetica, sans-serif;
     font-weight: lighter;
}

header{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-image: linear-gradient(to bottom, rgb(0, 145, 0), rgb(0, 29, 0));
     margin: 0px;
     width: auto;
     height: auto;
     padding: 10px 10px 10px 30px;
     border: none;
     font-weight: 600;
     box-shadow: 1px 1px 2px rgb(77, 150, 77);
}

.cabeca{
     color: white;
     text-align: center;
     margin: 0px;
     text-decoration: none;
     text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.596);
}



aside > a{
     color: rgb(120, 224, 120);
     width: auto;
     height:auto;
     text-decoration: none;
     margin: 15px;
}

aside > a:hover{
     background-color: rgba(73, 238, 73, 0.61);
     width: auto;
     height: auto;
     color: rgb(2, 41, 2);
     border-radius: 5px;
     font-weight: 700;
     padding: 5px;
     margin: 10px;
}

main{
     background-color: white;
     text-align: left;
     text-indent: 30px;
     box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.486);
     width: auto;
     max-width: 900px;
     height: auto;
     margin: auto;
     padding: 15px;
     border-radius: 0px 0px 10px 10px;
     text-align: justify;
}

img{
     margin: auto;
}

.link{
     text-decoration: none;
     background-image: linear-gradient(to right, rgba(109, 214, 109, 0.616), rgba(127, 228, 127, 0.712));
     padding: 3px;
     color: rgb(23, 66, 23);
     font-weight: 700;
}

.link:hover{
     text-decoration: underline;
}

.droid{
     font-family: idroid;
     margin: 0px;
     text-indent: 10px;
     color: rgb(23, 66, 23);
}

#subtitulo{
     background-image: linear-gradient(to right, rgb(111, 240, 117), white);
     font-size: 1.3em;
}

.destaque{
     color: rgb(15, 56, 15);
     font-weight: 700;
}

main > nav{
     width: auto;
     max-width: 900px;
     padding: 0px;
     margin: 0px;
}

nav{
     background-color: rgb(0, 54, 0);
     max-width: 900px;
     width: auto;
     height: auto;
}

nav > p{
     text-align: center;
}

.video{
     height: 430px;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 30px;
     margin-right: 30px;
     width: auto;
     max-width: 900px;
}

.curiosidade{
     background-color: rgb(30, 87, 30);
     color: white;
     padding: 10px;
     text-align: left;
     margin: 0px;
     text-indent: 0px;
     border-radius: 10px 10px 0px 0px;
}

article{
     background-color: rgb(121, 214, 121);
     padding: 0px;
     border-radius: 10px;
}

footer{
     background-color: rgb(0, 41, 0);
     margin-top: 25px;
     color: white;
     font-size: 0.9em;
     text-align: center;
     padding: 8px;
}

article > ul{
     text-decoration: underline;
}

article > p{
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 20px;
     padding-top: 0px;
}

a#historia{
     background-color:rgb(121, 214, 121);
}

section > p{
     text-align: center;
}
